/* HOVERCARD  */
.hover-card {
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 20;
    width: 300px; 
    transition: opacity 300ms ease, transform 300ms ease;
    opacity: 0; 
    transform: translateY(-10px); 
  }
  .hover-card.visible {
    opacity: 1;
    transform: translateY(0); 
}
  .hover-card.visible {
    opacity: 1;
    transform: translateY(0); 
}
  .hover-card__image {
    width: 100%;
    border-radius: 8px;
    transition: all 300ms ease;
  }
  
  .hover-card__details {
    margin-top: 10px;
    transition: all 250ms ease;
  }

  @media (max-width: 768px) {
   
    .card__section{
      /* display: flex; */
  
    }
    .hover-card{
      width: 200px; 
    }
    .hover-card.visible {
      /* z-index: 10; */
    
  }
  }